@media only screen and (max-width: 600px) {
  /* For everything lesser than 600 */
  .cardWrapper {
    width: 80px;
    height: 112px;
    margin-left: -48px!important;
  }
  .cardWrapper:first-child {
    margin-left: 0!important;
  }
  .backImg {
    width: 80px;
    height: 112px;
  }
  .txt {
    font-size: 15px;
  }
}
